@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MEU DOJO</h1>
    <p class="lead">Meu Dojo é uma aplicação destinada a academias de artes marciais criada usando .NET, C#, HTML, CSS and JavaScript.</p>
    <p><a href="https://rumos.pt/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Iniciando</h2>
        <p>
            Seu uso é destinado a professores de judo , BJJ, Wresting, Jiu-Jitsu, AikiDO, Boxe, Etc.
        </p>
        <p><a class="btn btn-default" href="https://rumos.pt/formacao/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alguns Vídeos para utilização</h2>
        <p> Apresentação de videos tutoriais para a devida utilização do aplicativo.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/channel/UCDnvsI8qI-ykL9B_o1bGs7w">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Você pode tão somente utilizar o aplicativo de forma gratuita caso seu dojo tenha uma quantindade menor que 50 alunos ou utilizar dos recursos totais em uma aplicação hospedada em nuvem.</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/pt-pt/">Learn more &raquo;</a></p>
    </div>
</div>